*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 0 8% 0 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.menu-icon{
    display: none;
    
}
.header{
    display: flex;
    align-items: center;
    margin-top: 35px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.logo{
    width: 60px;
}
.header ul{
    display: flex;
    list-style-type: none;

}
.header ul li{
    margin: 0 20px;
}
.content{
    display: flex;
    margin: 130px 0;
}
.left{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 3fr 1fr 1fr;
    gap: 20px 0px;
    margin-top: 25px;
}
.left h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
.highlight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grad{
    background: linear-gradient(rgba(242,84,160,255), rgba(240,97,102,255));
    width: 14px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
   
}
.left h4{
    grid-column-start: 2;
    align-self: center;
}
.left button{
    grid-column-start: 2;
    width: fit-content;
    border: none;
    background: linear-gradient(rgba(242,84,160,255), rgba(240,97,102,255));
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 14px;
    row-gap: 14px;
}
.arrow{
    display: none;
    width: 30px;
    margin-left: 14px;
}
.left button:hover .arrow{
    display: block;
}
.controller{
    width: 650px;
    position: absolute;
    left: -180px;
}
.right{
    position: relative;
}
.grad-box{
    height: 400px;
    width: 800px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(242,84,160,255), rgba(240,97,102,255));
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 200px;
    top: 10px;
    z-index: -1;
}
.grad-box img{
    width: 50px;
}
footer ul{
    margin:auto;
    display: flex;
    list-style-type: none;
    justify-content: center;
}
footer ul li{
    margin: 0 50px;
    font-size: 25px;
}
@media only screen and (max-width: 700px){
    .container{
        padding: 0;
        overflow: auto;
    }
    .menu-icon{
        display: block;
        height: 30px;
    }
    .header nav{
        width: 100%;
        font-size: 18px;
        background: linear-gradient(180deg, rgba(242,84,160,255), rgba(240,97,102,255));
        color: white;
        padding: 10px 0;
        margin-top: 30px;

    }
    .header nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
    }
    .logo, .menu-icon{
        margin: 0 30px;
    }
    .fuck{
        display: none;
    }
    
    .content{
        display: flex;
        flex-direction: column;
       row-gap: 50px;
       margin: 40px;
       height: 900px;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    footer{
        
        margin-bottom: 20px;

    }
    
}